<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- .NET Framework 4.x, шаблон Web Forms. ViewState включён по умолчанию. -->
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
      </namespaces>
    </pages>
  </system.web>
</configuration>
